body{
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    text-shadow: rgb(223, 131, 10);
    text-decoration: rgb(128, 21, 21);
}

a{
    color: #0f7477;
    margin: 10px 20px;
    text-decoration: white;
    font-family: montserrat, sans-serif;

}

a:hover{
    color: rgb(228, 220, 220);
    
}


.HEADER:hover{
    transition-duration: 1s;
    font-size: 420%;
}

hr{
    border: dotted #bae4e4 6px;
    border-bottom: none;
    width: 4%;
    margin: 20px auto 50px auto;
    
}

h1{
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 400%;
    padding-top: 40px;
}

h2{
    color: #66bfbf;
    font-family: montserrat, sans-serif;
    font-size: 2.5rem;
    margin: auto;
    font-weight: normal;
}

h3{
    color:  #11999e;
    font-family: montserrat, sans-serif;
}

p{
    color: #929191;
}

.computer{
    border-radius: 50%;
}

.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
    font-size: 1.2em;
    margin-bottom: 60px;
}

.home-button{
    position: fixed;
    right: 135px;
    top: 10px
}

.top-container-1{
    padding-top: 0px;
    position:fixed;
    background:white;
    width:100%;
    height: 60px;
    margin-top: 0px;
    top: 0px;
    
}


.top-container{
    padding-top: 0px;
}

.middle-container{
    padding: auto;
}

.main{
    color: rgb(90, 196, 231);
    font-size: 120%;
}

.logo{
    position: fixed;
    left: 0px;
    width: 60px;
}


.logo:hover{
    transition-duration: 1s;
    position: fixed;
    left: 0px;
    width: 80px;
}


.camera{
    width: 100%;
    height: 40em;
    
    
}

.page2{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 0px;

}

.page4{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: 10%;
}


.angela{
    border-radius: 100%;
    background-color: white;
    width: 14%;
}

.angela:hover{
    transition-duration: 0.5s;
    width: 12.5%;
}


.pic1{
    width: 22.5%;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    border: solid white 6px;
    

}
.pic1:hover{box-shadow: 0px 0px 6px 3px #c40031b7;
    color: #9b66b9;
    transition-duration: 0.5s;
    width: 22.7%;
}
/**.pic1:hover{
    transition-duration: 0.5s;
    width: 21%;**/

.pic2{
    width: 22.5%;
    float: right;
    border-radius: 100%;
    margin-left: 20px;
    position: relative;
    right: 25px;
    border: solid white 6px;

}
.pic2:hover{box-shadow: 0px 0px 6px 3px hsl(49, 87%, 50%);
    color: #9b66b9;
    transition-duration: 0.5s;
    transform: rotate(20deg);
}


/**.pic2:hover{
    transition-duration: 0.5s;
    width: 21%; **/

.pic3{
    width: 22%;
    float: left;
    border-radius: 100%;
    margin-right: 20px;
    border: solid white 6px;

}

.pic3:hover{box-shadow: 0px 0px 6px 3px #94431e;
    color: #9b66b9;
    transition-duration: 0.5s;
    transform: rotate(20deg);
    
    
    

/**.pic3:hover{
    transition-duration: 0.5s;
    width: 21%; **/
}


.skill-row{
    text-align: left;
    width: 53%;
    margin: 50px auto;
    line-height: 2;
    padding-top: 30px;
    padding-bottom: 20px;
    
}


i{box-shadow: 0px 0px 6px 3px;
    color: #101111;
    border-radius: 100%;
    padding: 10px;
    


}

i:hover{box-shadow: 0px 0px 6px 3px #e7dff3;
    color: #ffdada;
    border-radius: 100%;
    padding: 10px;
    transition-duration: 0.5s;



}

.dev-h3{
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.contact-me-heading{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}


.contact-me-head{
    
    height: 0px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bottom-container{
    background-color: #66bfbf;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: 30px;
    
}

.end{
    color: rgb(25, 94, 87);
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: -10px;

}

.FOOTER{
    padding-top: 18px;
    padding-bottom: 20px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    

  }
  

  
  .btn-top {
      position: absolute;
      top: 1%;
      right: 1%;
      margin-top: 7.4px;
      margin-right: 5px;
    -webkit-border-radius: 2.5;
    -moz-border-radius: 2.5;
    border-radius: 2.5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #3498db;
    padding: 12px 12.5px 12px 12.5px;
    text-decoration: none;
  }
  
  .btn-top:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
