body{
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    text-shadow: rgb(223, 131, 10);
    text-decoration: rgb(128, 21, 21);
}

a{
    color: #0f7477;
    margin: 10px 20px;
    text-decoration: white;
    font-family: montserrat, sans-serif;

}

a:hover{
    color: white;
    
}

hr{
    border: dotted #bae4e4 6px;
    border-bottom: none;
    width: 4%;
    margin: 25px auto;
}

h1{
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 400%;
    padding-top: 40px;
}

h2{
    color: #66bfbf;
    font-family: montserrat, sans-serif;
    font-size: 2.5rem;
    margin: auto;
    font-weight: normal;
}

h3{
    color:  #11999e;
    font-family: montserrat, sans-serif;
}

p{
    color: #929191;
}

.computer{
    border-radius: 50%;
}

.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
    font-size: 1.2em;
}

.top-container-1{
    padding-top: 0px;
    position:fixed;
    background:white;
    width:100%;
    height: 60px;
    margin-top: 0px;
    top: 0px;
    
}


.top-container{
    padding-top: 0px;
}

.middle-container{
    padding: auto;
}

.main{
    color: rgb(90, 196, 231);
    font-size: 120%;
}

.logo{
    position: absolute;
    left: 0px;
    width: 3.8%;
    top: 0px;

}

.top-cloud{
    position: relative;
    left: 250px;
    padding-top: 20px;
    margin-top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 22.5%;
}

.camera{
    width: 100%;
    height: 40em;
    
    
}

.page2{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 0px;

}

.page4{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: 10%;
}


.angela{
    border-radius: 100%;
    background-color: white;
    width: 15%;


}

.pic1{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    padding-top: 10px;

}
.pic2{
    width: 25%;
    float: right;
    border-radius: 100%;
    margin-left: 20px;
    

}
.pic3{
    width: 28%;
    float: left;
    border-radius: 100%;
    margin-right: 20px;

}

.skill-row{
    text-align: left;
    width: 50%;
    margin: 50px auto;
    line-height: 2;
    padding-top: 30px;
    padding-bottom: 20px;
    
}


.dev-h3{
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.contact-me-heading{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}


.contact-me-head{
    
    height: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bottom-container{
    background-color: #66bfbf;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 80px;
    
}

.end{
    color: rgb(25, 94, 87);
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: 0px;

}

.FOOTER{
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-footer{
    position: absolute;
    top: 10.4px;
    right: 9.5%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  

  
  .btn-top {
      position: absolute;
      top: 1%;
      right: 1%;
      margin-top: 7.4px;
      margin-right: 5px;
    -webkit-border-radius: 2.5;
    -moz-border-radius: 2.5;
    border-radius: 2.5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #3498db;
    padding: 12px 12.5px 12px 12.5px;
    text-decoration: none;
  }
  
  .btn-top:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
